$primary-color: #140f07;
$secondary-color: #0e3859;
$tertiary-color: #087ab6;
$primary-text-color: #08c8ff;
$secondary-text-color: #0ffff8;
$tertiary-text-color: #ffffff;
$font-stack: "IBM Plex Sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: $primary-color;
  color: $tertiary-text-color;
  font-family: $font-stack;
}

nav {
  background-color: #0e3859;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 25px;
  color: $primary-text-color;
  p {
    font-size: 2rem;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    li {
      cursor: pointer;
    }
  }
  .icons {
    display: none;
    li {
      padding-left: 40px;
    }
  }
  .iconCel {
    display: flex;
  }
}

main {
  height: auto;
  background-color: gray;
}
.intro-section {
  display: flex;
  flex-direction: column-reverse;
  // justify-content: space-between;
  align-items: center;
  padding: 0 27px;

  .impact-article {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    h1 {
      margin-top: 11px;
      font-size: 2.8rem;
      font-weight: 600;
    }
    p {
      margin-top: 19px;
      font-size: 1.4rem;
      font-weight: 400;
      max-width: 550px;
    }
    button {
      align-self: center;
      
      width: 150px;
      height: 42px;
      margin-top: 18px;
      border-radius: 35px;
      border: none;
      background: #fa9500;
      color: #fff;
      font-family: IBM Plex Sans;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  picture {

    width: 100%;
    height: 50vh;

    img {
      width: 100%;
      height: 100%;
      border-radius: 19px;
      object-fit: cover;
      
    }
  }
}

footer {
  background-color: $tertiary-color;
  width: 100%;
  height: 250px;
}

@media (min-width: 481px) {
  /* Tablet*/
  nav {
    .icons {
      display: flex;
    }
    .iconCel {
      display: none;
    }
  }


}

@media (min-width: 768px) {
  /* Estilos para pantallas con un ancho de al menos 769px */
  .intro-section {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 60px;

    .impact-article {
      width: 50%;

      h1 {
        // margin-top: 50px;
        font-size: 6rem;
        font-weight: 500;
      }
      p {
        // margin-top: 60px;
        font-size: 2.5rem;
        font-weight: 400;
        max-width: 550px;
      }
      button {
        align-self: start;
        width: 260px;
        height: 73px;
        // margin-top: 100px;
        border-radius: 35px;
        background: #fa9500;
        border: none;
        color: #fff;
        font-family: IBM Plex Sans;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    picture {
      display: flex;
      justify-content: end;
      width: 50%;
      height: 100%;
  
      img {
        max-width: 40vw;
        // width: 40vw;
        border-radius: 19px;
      }
    }
  }
  .product-section{
    background: skyblue;
    margin-top: 60px;
    .healtcare{
      margin: 0 60px;
      h2{
        padding: 60px 0;
        font-size: 5rem;
        font-weight: 300;
      }
      .card-section{
        background: black;
        .product-card{
          background: rgb(42, 42, 42);
          display: flex;
          flex-direction: column;
          width: 324px;
          height: 500px;
          border-radius: 8px;
          span{
            align-self: end;
            padding: 15px;
            svg{
                width: 30px;
                height: 30px;
              
            }
          }
          figure{
            padding: 0 40px;
            img{
              width: 100%;
              height: 300px;
              border-radius: 8px;
            }
            h3{
              padding-top: 16px;
              font-size: 25px;
              font-weight: 300;
            }
            p{
              font-size: 15px;
              font-weight: 300;
            }
          }
        }
      }
    }

  }
  
}